In [1]:
# shp 파일을 csv 파일로 변환해보기
# !pip install geopandas

In [2]:
import geopandas as gpd
import pandas as pd

# Shapefile 경로 지정
shp_file_path = 'data/2023상권영역/TBGIS_TRDAR_RELM.shp'

# Shapefile 불러오기
gdf = gpd.read_file(shp_file_path)

# 좌표값을 저장할 빈 리스트 생성
coordinates_list = []

# 각 폴리곤의 좌표값을 리스트에 추가
for index, row in gdf.iterrows():
    geometry = row['geometry']
    if geometry.geom_type == 'Polygon':
        coordinates = list(geometry.exterior.coords)
        coordinates_list.append(coordinates)

In [3]:
# 아무리봐도 저렇게 불러온 걸 정리해서 불러왔다고 하긴 좀 그렇잖아?

# Shapefile 경로 지정
shp_file_path = 'data/2023상권영역/TBGIS_TRDAR_RELM.shp'

# Shapefile 불러오기
gdf = gpd.read_file(shp_file_path)

# CSV 파일로 저장
csv_file_path = 'data/2023상권영역/TBGIS_TRDAR_RELM.csv'
gdf.to_csv(csv_file_path, index=False)

In [4]:
whkvy = pd.read_csv('data/2023상권영역/TBGIS_TRDAR_RELM.csv')
whkvy

,STDR_YM_CD,TRDAR_SE_C,TRDAR_SE_1,TRDAR_CD,TRDAR_CD_N,XCNTS_VALU,YDNTS_VALU,SIGNGU_CD,ADSTRD_CD,geometry
0,202212,A,골목상권,3110008,배화여자대학교(박노수미술관),197093.0,453418.0,11110,11110515,"POLYGON ((196955.8422 453722.1139, 196958.6692..."
1,202212,A,골목상권,3110009,자하문터널,196991.0,455057.0,11110,11110550,"POLYGON ((197117.8522 455306.111400001, 197122..."
2,202212,A,골목상권,3110010,평창동서측,197064.0,456643.0,11110,11110560,MULTIPOLYGON (((196783.9826 456462.99450000003...
3,202212,A,골목상권,3110017,정독도서관,198581.0,453781.0,11110,11110600,"MULTIPOLYGON (((198408.5448 453502.926200001, ..."
4,202212,A,골목상권,3110018,중앙고등학교,198883.0,453690.0,11110,11110600,"POLYGON ((198768.7891 454069.1108, 198782.5474..."
...,...,...,...,...,...,...,...,...,...,...
1645,202212,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,198397.0,451614.0,11140,11140520,"POLYGON ((198220.9243 452166.5988, 198221.2676..."
1646,202212,U,관광특구,3001493,동대문패션타운 관광특구,200996.0,451976.0,11140,11140590,"POLYGON ((201566.7928 452246.8726, 201567.849 ..."
1647,202212,U,관광특구,3001494,종로·청계 관광특구,199796.0,452274.0,11110,11110615,"POLYGON ((201385.3797 452513.7246, 201385.2841..."
1648,202212,U,관광특구,3001495,잠실 관광특구,210188.0,446334.0,11710,11710566,"POLYGON ((210991.6867 447357.04109999904, 2110..."
1649,202212,U,관광특구,3001496,강남 마이스 관광특구,205282.0,445736.0,11680,11680580,"POLYGON ((205269.6699 445368.3247, 205255.6477..."

In [5]:
df1 = pd.read_csv('data/1차병합본.csv')
df1

,기준_년_코드,기준_분기_코드,상권_코드,점포수,시간대_00~06_매출_금액_평균,시간대_06~11_매출_금액_평균,시간대_11~14_매출_금액_평균,시간대_14~17_매출_금액_평균,시간대_17~21_매출_금액_평균,시간대_21~24_매출_금액_평균,...,월요일_생활인구_수,화요일_생활인구_수,수요일_생활인구_수,목요일_생활인구_수,금요일_생활인구_수,토요일_생활인구_수,일요일_생활인구_수,엑스좌표_값,와이좌표_값,시군구_코드
0,2020,1,2110949,6,125163.150183,217164.879121,256343.263736,217222.536630,304378.824176,222872.315018,...,57612,59407,58948,59700,60271,52877,47711,201717,446819,11680
1,2020,1,2110951,3,94688.223443,66467.593407,80462.010989,87369.399267,188897.897436,155364.446886,...,85107,89345,88383,89759,89112,74083,66223,202246,446821,11680
2,2020,1,2110952,3,177736.461538,127178.919414,105252.366300,103031.025641,217967.512821,173673.849817,...,34098,34125,34124,34019,33613,32730,33196,202328,445762,11680
3,2020,1,2110954,3,34587.754579,56082.139194,74176.186813,83521.205128,138064.706960,89737.908425,...,75635,77314,77420,80311,84004,82246,63536,202535,444783,11680
4,2020,1,2110955,30,221061.483150,145577.448352,110301.369963,137054.142125,316572.729304,240127.590110,...,415057,418275,411498,411538,408607,386684,388001,202593,445514,11680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,2022,4,2110994,3,99866.931159,247191.909420,194047.293478,154291.710145,302690.601449,201683.597826,...,64924,65254,64715,65081,63954,60895,57580,205441,442634,11680
910,2022,4,2120210,39,303125.014214,647668.856466,560624.327202,442103.921962,769798.139353,468795.999164,...,737877,814711,816649,818883,786553,553938,475110,204334,445014,11680
911,2022,4,2120188,16,101724.461957,382494.941576,316498.131114,317926.020380,468586.175951,244665.799592,...,272225,297457,292505,295484,305916,259018,212265,202455,447347,11680
912,2022,4,2120186,15,155169.260145,270461.512319,252058.405797,247267.857971,366435.877536,259723.915942,...,314195,338030,340729,343466,355283,319185,267477,201997,446820,11680
913,2022,4,2120198,19,233324.990275,310145.333524,302209.301487,264339.036613,476583.396453,323714.925057,...,287395,307553,305851,303590,289938,219934,218803,203312,443991,11680

In [6]:
whkvy1 = whkvy[whkvy['SIGNGU_CD'] == 11680]
whkvy1

,STDR_YM_CD,TRDAR_SE_C,TRDAR_SE_1,TRDAR_CD,TRDAR_CD_N,XCNTS_VALU,YDNTS_VALU,SIGNGU_CD,ADSTRD_CD,geometry
842,202212,A,골목상권,3110968,강남구청역 2번,203552.0,446131.0,11680,11680531,"POLYGON ((203567.5102 446297.293400001, 203589..."
843,202212,A,골목상권,3110969,베르사이유1아파트,203564.0,444383.0,11680,11680650,"POLYGON ((203526.8567 444550.745999999, 203566..."
844,202212,A,골목상권,3110970,학동초등학교,203644.0,445789.0,11680,11680531,"POLYGON ((203655.9841 445882.325300001, 203659..."
845,202212,A,골목상권,3110971,선정릉역 4번,203791.0,445313.0,11680,11680640,"POLYGON ((203543.1798 445522.33070000104, 2035..."
846,202212,A,골목상권,3110972,강남세브란스병원미래의학연구센터,203759.0,443901.0,11680,11680650,"POLYGON ((203673.6731 444013.3288, 203698.38 4..."
...,...,...,...,...,...,...,...,...,...,...
1349,202212,R,전통시장,3130307,도곡시장,204573.0,444284.0,11680,11680650,"POLYGON ((204590.3945 444319.1437, 204620.9746..."
1350,202212,R,전통시장,3130308,청담삼익시장,205090.0,446987.0,11680,11680565,"POLYGON ((205138.51380000002 447022.923800001,..."
1362,202212,R,전통시장,3130309,은마종합상점가,205628.0,444032.0,11680,11680610,"POLYGON ((205690.2824 444077.98179999896, 2057..."
1363,202212,R,전통시장,3130310,강남개포시장,205978.0,443274.0,11680,11680670,"POLYGON ((205951.9007 443209.9231, 205885.3895..."
1649,202212,U,관광특구,3001496,강남 마이스 관광특구,205282.0,445736.0,11680,11680580,"POLYGON ((205269.6699 445368.3247, 205255.6477..."

In [7]:
df1['상권_코드'].value_counts()

상권_코드
2110949    12
2120200    12
2120207    12
2120206    12
2120205    12
           ..
2110982    10
2110966     8
2111000     8
2110988     7
2110954     7
Name: count, Length: 78, dtype: int64

In [8]:
whkvy1 = whkvy1[['TRDAR_CD', 'TRDAR_CD_N', 'geometry']]
whkvy1

,TRDAR_CD,TRDAR_CD_N,geometry
842,3110968,강남구청역 2번,"POLYGON ((203567.5102 446297.293400001, 203589..."
843,3110969,베르사이유1아파트,"POLYGON ((203526.8567 444550.745999999, 203566..."
844,3110970,학동초등학교,"POLYGON ((203655.9841 445882.325300001, 203659..."
845,3110971,선정릉역 4번,"POLYGON ((203543.1798 445522.33070000104, 2035..."
846,3110972,강남세브란스병원미래의학연구센터,"POLYGON ((203673.6731 444013.3288, 203698.38 4..."
...,...,...,...
1349,3130307,도곡시장,"POLYGON ((204590.3945 444319.1437, 204620.9746..."
1350,3130308,청담삼익시장,"POLYGON ((205138.51380000002 447022.923800001,..."
1362,3130309,은마종합상점가,"POLYGON ((205690.2824 444077.98179999896, 2057..."
1363,3130310,강남개포시장,"POLYGON ((205951.9007 443209.9231, 205885.3895..."
1649,3001496,강남 마이스 관광특구,"POLYGON ((205269.6699 445368.3247, 205255.6477..."

In [9]:
# merge 전 칼럼명 바꾸기
whkvy1 = whkvy1.rename(columns={
    'TRDAR_CD': '상권_코드',
    'TRDAR_CD_N': '상권_이름',
    'geometry': '폴리곤_좌표'
})
whkvy1

,상권_코드,상권_이름,폴리곤_좌표
842,3110968,강남구청역 2번,"POLYGON ((203567.5102 446297.293400001, 203589..."
843,3110969,베르사이유1아파트,"POLYGON ((203526.8567 444550.745999999, 203566..."
844,3110970,학동초등학교,"POLYGON ((203655.9841 445882.325300001, 203659..."
845,3110971,선정릉역 4번,"POLYGON ((203543.1798 445522.33070000104, 2035..."
846,3110972,강남세브란스병원미래의학연구센터,"POLYGON ((203673.6731 444013.3288, 203698.38 4..."
...,...,...,...
1349,3130307,도곡시장,"POLYGON ((204590.3945 444319.1437, 204620.9746..."
1350,3130308,청담삼익시장,"POLYGON ((205138.51380000002 447022.923800001,..."
1362,3130309,은마종합상점가,"POLYGON ((205690.2824 444077.98179999896, 2057..."
1363,3130310,강남개포시장,"POLYGON ((205951.9007 443209.9231, 205885.3895..."
1649,3001496,강남 마이스 관광특구,"POLYGON ((205269.6699 445368.3247, 205255.6477..."

In [11]:
whkvy2 = whkvy1[['상권_이름', '폴리곤_좌표']]
whkvy2

                 상권_이름                                             폴리곤_좌표
842           강남구청역 2번  POLYGON ((203567.5102 446297.293400001, 203589...
843          베르사이유1아파트  POLYGON ((203526.8567 444550.745999999, 203566...
844             학동초등학교  POLYGON ((203655.9841 445882.325300001, 203659...
845            선정릉역 4번  POLYGON ((203543.1798 445522.33070000104, 2035...
846   강남세브란스병원미래의학연구센터  POLYGON ((203673.6731 444013.3288, 203698.38 4...
...                ...                                                ...
1349              도곡시장  POLYGON ((204590.3945 444319.1437, 204620.9746...
1350            청담삼익시장  POLYGON ((205138.51380000002 447022.923800001,...
1362           은마종합상점가  POLYGON ((205690.2824 444077.98179999896, 2057...
1363            강남개포시장  POLYGON ((205951.9007 443209.9231, 205885.3895...
1649       강남 마이스 관광특구  POLYGON ((205269.6699 445368.3247, 205255.6477...

[103 rows x 2 columns]

In [14]:
temp = pd.read_csv('data/상권코드,상권명,시군구.csv')
temp

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [15]:
temp = temp[['상권_코드', '상권_코드_명']]
temp

        상권_코드       상권_코드_명
0     2110753   시흥동 은행나무사거리
1     2110427    노원 을지대학교병원
2     2110755      동일여자고등학교
3     2110739    시흥3동 우편취급국
4     2111017      송파나루역 3번
...       ...           ...
1666  1001493  동대문패션타운 관광특구
1667  1001494    종로?청계 관광특구
1668  1001495       잠실 관광특구
1669  1001496   강남 마이스 관광특구
1670  1001491      이태원 관광특구

[1671 rows x 2 columns]

In [16]:
merged_df = whkvy2.merge(temp, how='left', left_on='상권_이름', right_on='상권_코드_명')
merged_df

,상권_이름,폴리곤_좌표,상권_코드,상권_코드_명
0,강남구청역 2번,"POLYGON ((203567.5102 446297.293400001, 203589...",2110968,강남구청역 2번
1,베르사이유1아파트,"POLYGON ((203526.8567 444550.745999999, 203566...",2110969,베르사이유1아파트
2,학동초등학교,"POLYGON ((203655.9841 445882.325300001, 203659...",2110970,학동초등학교
3,선정릉역 4번,"POLYGON ((203543.1798 445522.33070000104, 2035...",2110971,선정릉역 4번
4,강남세브란스병원미래의학연구센터,"POLYGON ((203673.6731 444013.3288, 203698.38 4...",2110972,강남세브란스병원미래의학연구센터
...,...,...,...,...
98,도곡시장,"POLYGON ((204590.3945 444319.1437, 204620.9746...",2130307,도곡시장
99,청담삼익시장,"POLYGON ((205138.51380000002 447022.923800001,...",2130308,청담삼익시장
100,은마종합상점가,"POLYGON ((205690.2824 444077.98179999896, 2057...",2130309,은마종합상점가
101,강남개포시장,"POLYGON ((205951.9007 443209.9231, 205885.3895...",2130310,강남개포시장
102,강남 마이스 관광특구,"POLYGON ((205269.6699 445368.3247, 205255.6477...",1001496,강남 마이스 관광특구

In [19]:
whkvy3 = merged_df[['상권_코드', '폴리곤_좌표']]
whkvy3

       상권_코드                                             폴리곤_좌표
0    2110968  POLYGON ((203567.5102 446297.293400001, 203589...
1    2110969  POLYGON ((203526.8567 444550.745999999, 203566...
2    2110970  POLYGON ((203655.9841 445882.325300001, 203659...
3    2110971  POLYGON ((203543.1798 445522.33070000104, 2035...
4    2110972  POLYGON ((203673.6731 444013.3288, 203698.38 4...
..       ...                                                ...
98   2130307  POLYGON ((204590.3945 444319.1437, 204620.9746...
99   2130308  POLYGON ((205138.51380000002 447022.923800001,...
100  2130309  POLYGON ((205690.2824 444077.98179999896, 2057...
101  2130310  POLYGON ((205951.9007 443209.9231, 205885.3895...
102  1001496  POLYGON ((205269.6699 445368.3247, 205255.6477...

[103 rows x 2 columns]

In [20]:
# df1과 whkvy3 데이터프레임을 레프트 조인
df_all = df1.merge(whkvy3, how='left', left_on='상권_코드', right_on='폴리곤_좌표')
df_all

ValueError: You are trying to merge on int64 and object columns for key '상권_코드'. If you wish to proceed you should use pd.concat

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914 entries, 0 to 913
Data columns (total 40 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년_코드             914 non-null    int64
 1   기준_분기_코드            914 non-null    int64
 2   상권_코드               914 non-null    int32
 3   점포수                 914 non-null    int64
 4   시간대_00~06_매출_금액_평균  914 non-null    float64
 5   시간대_06~11_매출_금액_평균  914 non-null    float64
 6   시간대_11~14_매출_금액_평균  914 non-null    float64
 7   시간대_14~17_매출_금액_평균  914 non-null    float64
 8   시간대_17~21_매출_금액_평균  914 non-null    float64
 9   시간대_21~24_매출_금액_평균  914 non-null    float64
 10  총 상주인구 수            902 non-null    float64
 11  총 가구 수              902 non-null    float64
 12  아파트 가구 수            902 non-null    float64
 13  비아파트 가구 수           902 non-null    float64
 14  총_직장인구_수            914 non-null    float64
 15  아파트_단지_수            846 non-null    float64
 16  아파트_가격_1_억_미만_세대_수  846 non-null    float64
 17  아파트_가격_1_억_세대_수     846 non-null    float64
 18  아파트_가격_2_억_세대_수     846 non-null    float64
 19  아파트_가격_3_억_세대_수     846 non-null    float64
 20  아파트_가격_4_억_세대_수     846 non-null    float64
 21  아파트_가격_5_억_세대_수     846 non-null    float64
 22  아파트_가격_6_억_이상_세대_수  846 non-null    float64
 23  총_생활인구_수            914 non-null    int64
 24  시간대_1_생활인구_수        914 non-null    int64
 25  시간대_2_생활인구_수        914 non-null    int64
 26  시간대_3_생활인구_수        914 non-null    int64
 27  시간대_4_생활인구_수        914 non-null    int64
 28  시간대_5_생활인구_수        914 non-null    int64
 29  시간대_6_생활인구_수        914 non-null    int64
 30  월요일_생활인구_수          914 non-null    int64
 31  화요일_생활인구_수          914 non-null    int64
 32  수요일_생활인구_수          914 non-null    int64
 33  목요일_생활인구_수          914 non-null    int64
 34  금요일_생활인구_수          914 non-null    int64
 35  토요일_생활인구_수          914 non-null    int64
 36  일요일_생활인구_수          914 non-null    int64
 37  엑스좌표_값              914 non-null    int64
 38  와이좌표_값              914 non-null    int64
 39  시군구_코드              914 non-null    int64
dtypes: float64(19), int32(1), int64(20)
memory usage: 282.2 KB