In [1]:
import pandas as pd
!pip install openpyxl

# 데이터 불러오기
df1 = pd.read_csv('data/bus_2022.csv')   # 서울시 버스노선별 정류장별 시간대별 승하차 인원 정보 2022년
df2 = pd.read_excel('data/seoul_bus_wgs84(2022.11.30).xlsx')   # 서울시 버스정류소 위치정보(2022.11.30)

Requirement already satisfied: openpyxl in c:\users\user\downloads\project_1\venv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\user\downloads\project_1\venv\lib\site-packages (from openpyxl) (1.1.0)

C:\Users\user\AppData\Local\Temp\ipykernel_16360\4217399081.py:5: DtypeWarning: Columns (55) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('data/bus_2022.csv')   # 서울시 버스노선별 정류장별 시간대별 승하차 인원 정보 2022년

In [2]:
# 데이터 확인
print(df1, df2)

        USE_MON BUS_ROUTE_NO     BUS_ROUTE_NM  STND_BSST_ID BSST_ARS_NO  \
0        202201          100   100번(하계동~용산구청)     110000327       11428
1        202201          100   100번(하계동~용산구청)     110000335       11436
2        202201          100   100번(하계동~용산구청)     107000011       08101
3        202201          100   100번(하계동~용산구청)     107000012       08102
4        202201          100   100번(하계동~용산구청)     107000013       08103
...         ...          ...              ...           ...         ...
482981   202212         9714  9714번(교하운정~서울역)     229001663       63737
482982   202212         9714  9714번(교하운정~서울역)     229000848       63659
482983   202212         9714  9714번(교하운정~서울역)     229000847       63674
482984   202212         9714  9714번(교하운정~서울역)     229001300       30839
482985   202212         9714  9714번(교하운정~서울역)     229002499       30745

              BUS_STA_NM  MIDNIGHT_RIDE_NUM  MIDNIGHT_ALIGHT_NUM  \
0                 한성여객종점                0.0                  0.0
1               하계1동주민센터                0.0                  0.0
2                 숭곡초교입구               47.0                 28.0
3                   창문여고               67.0                 95.0
4                   동방고개               12.0                 61.0
...                  ...                ...                  ...
482981      교하차고지(00052)                0.0                  2.0
482982       중앙공원(00006)               18.0                  2.0
482983      책향기마을(00007)               22.0                  0.0
482984   초롱꽃마을8단지(00008)               69.0                  3.0
482985  초롱꽃마을13단지(00009)               28.0                  2.0

        ONE_RIDE_NUM  ONE_ALIGHT_NUM  ...  TWENTY_ALIGHT_NUM  \
0                0.0             0.0  ...                3.0
1                0.0             0.0  ...               26.0
2                4.0             4.0  ...              257.0
3                3.0             8.0  ...              465.0
4                0.0             6.0  ...              187.0
...              ...             ...  ...                ...
482981           0.0             3.0  ...               11.0
482982           7.0             1.0  ...                0.0
482983           8.0             1.0  ...                0.0
482984          23.0             0.0  ...                1.0
482985           8.0             0.0  ...                3.0

        TWENTY_ONE_RIDE_NUM  TWENTY_ONE_ALIGHT_NUM  TWENTY_TWO_RIDE_NUM  \
0                      28.0                    1.0                 13.0
1                     114.0                   14.0                 92.0
2                     273.0                  381.0                143.0
3                     425.0                  660.0                265.0
4                      60.0                  255.0                 33.0
...                     ...                    ...                  ...
482981                  0.0                    7.0                  0.0
482982                  4.0                    0.0                  7.0
482983                  8.0                    1.0                 19.0
482984                  2.0                    3.0                 10.0
482985                  2.0                    2.0                  6.0

        TWENTY_TWO_ALIGHT_NUM  TWENTY_THREE_RIDE_NUM  TWENTY_THREE_ALIGHT_NUM  \
0                         1.0                    0.0                      3.0
1                        14.0                    0.0                      0.0
2                       234.0                   43.0                     72.0
3                       406.0                   91.0                    139.0
4                       222.0                   14.0                     79.0
...                       ...                    ...                      ...
482981                   10.0                    1.0                      3.0
482982                    0.0                    9.0                      2.0
482983                    0.0                   10.0                      1.0
482984                    8.0                   20.0                      5.0
482985                    2.0                    1.0                      1.0

        MNTN_TYP_CD  MNTN_TYP_NM   WORK_DT
0                 0          NaN  20220203
1                 0          NaN  20220203
2                 0          NaN  20220203
3                 0          NaN  20220203
4                 0          NaN  20220203
...             ...          ...       ...
482981           50       서울광역버스  20230103
482982           50       서울광역버스  20230103
482983           50       서울광역버스  20230103
482984           50       서울광역버스  20230103
482985           50       서울광역버스  20230103

[482986 rows x 57 columns]          NODE_ID  ARS-ID           정류소명         X좌표        Y좌표
0      100000001    1001        종로2가사거리  126.987750  37.569765
1      100000002    1002    창경궁.서울대학교병원  126.996566  37.579183
2      100000003    1003      명륜3가.성대입구  126.998340  37.582671
3      100000004    1004       종로2가.삼일교  126.987613  37.568579
4      100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243
...          ...     ...            ...         ...        ...
11221  124000334   25995          우성아파트  127.139339  37.550386
11222  124000333   25996          우성아파트  127.140046  37.550643
11223  124000332   25997           조일약국  127.123596  37.533630
11224  124000331   25998           성내시장  127.125497  37.536155
11225  124000330   25999    천호우체국.로데오거리  127.127337  37.540343

[11226 rows x 5 columns]

In [3]:
# 일단 이 데이터의 컬럼과 각 데이터들이 뭘나타내느질 파악
df2.head(6)

     NODE_ID  ARS-ID           정류소명         X좌표        Y좌표
0  100000001    1001        종로2가사거리  126.987750  37.569765
1  100000002    1002    창경궁.서울대학교병원  126.996566  37.579183
2  100000003    1003      명륜3가.성대입구  126.998340  37.582671
3  100000004    1004       종로2가.삼일교  126.987613  37.568579
4  100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243
5  101000305    1006        서대문역사거리  126.966893  37.566137

In [4]:
# 무조건 주소가 강남구인 정류소는 뭘까?
df2[df2['정류소명'].str.contains('강남구청')]

        NODE_ID  ARS-ID        정류소명         X좌표        Y좌표
9825  122000027   23127       강남구청역  127.040641  37.518466
9826  122000028   23128       강남구청역  127.040047  37.516982
9833  122000035   23135       강남구청역  127.040262  37.516656
9874  122000074   23176  강남구청.강남세무서  127.047157  37.518493
9876  122000076   23178       강남구청역  127.041014  37.518301
9904  122000103   23206  강남구청.강남세무서  127.047774  37.518201

In [5]:
# 23* 인 정류소 ID를 탐색
df2[df2['ARS-ID'].astype(str).str.startswith('23')]

         NODE_ID  ARS-ID             정류소명         X좌표        Y좌표
9799   122000001   23101            신사중학교  127.020499  37.522928
9800   122000002   23102            신사중학교  127.021022  37.523564
9801   122000003   23103      광림교회.현대고등학교  127.025266  37.525387
9802   122000004   23104      광림교회.현대고등학교  127.024439  37.525278
9803   122000005   23105         압구정역4번출구  127.028258  37.526154
...          ...     ...              ...         ...        ...
10350  122000706   23989         영동대교(가상)  127.055620  37.526625
10351  122000672   23992       성수대교남단(가상)  127.030882  37.533628
10352  122900073   23993     강남신동아파밀리에2단지  127.101453  37.464585
10353  122000287   23994   일원주유소.삼성서울병원후문  127.087682  37.490654
10354  122900074   23995  리엔파크4단지.강남데시앙파크  127.101976  37.461272

[556 rows x 5 columns]

In [6]:
# 강남구 정류장 코드만 새로운 DF로 Gangnam_BUS_ID
GBI = df2[df2['ARS-ID'].astype(str).str.startswith('23')].reset_index(drop=True)
GBI

       NODE_ID  ARS-ID             정류소명         X좌표        Y좌표
0    122000001   23101            신사중학교  127.020499  37.522928
1    122000002   23102            신사중학교  127.021022  37.523564
2    122000003   23103      광림교회.현대고등학교  127.025266  37.525387
3    122000004   23104      광림교회.현대고등학교  127.024439  37.525278
4    122000005   23105         압구정역4번출구  127.028258  37.526154
..         ...     ...              ...         ...        ...
551  122000706   23989         영동대교(가상)  127.055620  37.526625
552  122000672   23992       성수대교남단(가상)  127.030882  37.533628
553  122900073   23993     강남신동아파밀리에2단지  127.101453  37.464585
554  122000287   23994   일원주유소.삼성서울병원후문  127.087682  37.490654
555  122900074   23995  리엔파크4단지.강남데시앙파크  127.101976  37.461272

[556 rows x 5 columns]

In [7]:
# 서울시 버스노선별 정류장별 시간대별 승하차 인원 정보 2022년
df1

,USE_MON,BUS_ROUTE_NO,BUS_ROUTE_NM,STND_BSST_ID,BSST_ARS_NO,BUS_STA_NM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,...,TWENTY_ALIGHT_NUM,TWENTY_ONE_RIDE_NUM,TWENTY_ONE_ALIGHT_NUM,TWENTY_TWO_RIDE_NUM,TWENTY_TWO_ALIGHT_NUM,TWENTY_THREE_RIDE_NUM,TWENTY_THREE_ALIGHT_NUM,MNTN_TYP_CD,MNTN_TYP_NM,WORK_DT
0,202201,100,100번(하계동~용산구청),110000327,11428,한성여객종점,0.0,0.0,0.0,0.0,...,3.0,28.0,1.0,13.0,1.0,0.0,3.0,0,NaN,20220203
1,202201,100,100번(하계동~용산구청),110000335,11436,하계1동주민센터,0.0,0.0,0.0,0.0,...,26.0,114.0,14.0,92.0,14.0,0.0,0.0,0,NaN,20220203
2,202201,100,100번(하계동~용산구청),107000011,08101,숭곡초교입구,47.0,28.0,4.0,4.0,...,257.0,273.0,381.0,143.0,234.0,43.0,72.0,0,NaN,20220203
3,202201,100,100번(하계동~용산구청),107000012,08102,창문여고,67.0,95.0,3.0,8.0,...,465.0,425.0,660.0,265.0,406.0,91.0,139.0,0,NaN,20220203
4,202201,100,100번(하계동~용산구청),107000013,08103,동방고개,12.0,61.0,0.0,6.0,...,187.0,60.0,255.0,33.0,222.0,14.0,79.0,0,NaN,20220203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482981,202212,9714,9714번(교하운정~서울역),229001663,63737,교하차고지(00052),0.0,2.0,0.0,3.0,...,11.0,0.0,7.0,0.0,10.0,1.0,3.0,50,서울광역버스,20230103
482982,202212,9714,9714번(교하운정~서울역),229000848,63659,중앙공원(00006),18.0,2.0,7.0,1.0,...,0.0,4.0,0.0,7.0,0.0,9.0,2.0,50,서울광역버스,20230103
482983,202212,9714,9714번(교하운정~서울역),229000847,63674,책향기마을(00007),22.0,0.0,8.0,1.0,...,0.0,8.0,1.0,19.0,0.0,10.0,1.0,50,서울광역버스,20230103
482984,202212,9714,9714번(교하운정~서울역),229001300,30839,초롱꽃마을8단지(00008),69.0,3.0,23.0,0.0,...,1.0,2.0,3.0,10.0,8.0,20.0,5.0,50,서울광역버스,20230103
482985,202212,9714,9714번(교하운정~서울역),229002499,30745,초롱꽃마을13단지(00009),28.0,2.0,8.0,0.0,...,3.0,2.0,2.0,6.0,2.0,1.0,1.0,50,서울광역버스,20230103

In [8]:
# 이 데이터에서도 같은 버스정류장 ID 고유값이 일치하는지 먼저 확인
df1[df1['BSST_ARS_NO'].astype(str).str.startswith('23')].sort_values(by='BSST_ARS_NO')

,USE_MON,BUS_ROUTE_NO,BUS_ROUTE_NM,STND_BSST_ID,BSST_ARS_NO,BUS_STA_NM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,...,TWENTY_ALIGHT_NUM,TWENTY_ONE_RIDE_NUM,TWENTY_ONE_ALIGHT_NUM,TWENTY_TWO_RIDE_NUM,TWENTY_TWO_ALIGHT_NUM,TWENTY_THREE_RIDE_NUM,TWENTY_THREE_ALIGHT_NUM,MNTN_TYP_CD,MNTN_TYP_NM,WORK_DT
72549,202202,1156,1156번(퇴계원쌍용예가아파트~석계역),222000296,23045,퇴계원5리,0.0,0.0,0.0,0.0,...,8.0,0.0,7.0,0.0,8.0,0.0,2.0,0,NaN,20220303
353727,202209,1156,1156번(퇴계원쌍용예가아파트~석계역),222000296,23045,퇴계원5리(00062),2.0,0.0,0.0,0.0,...,13.0,2.0,5.0,0.0,10.0,0.0,9.0,20,서울지선버스,20221003
151833,202204,1156,1156번(퇴계원쌍용예가아파트~석계역),222000296,23045,퇴계원5리,0.0,1.0,0.0,0.0,...,21.0,1.0,11.0,0.0,7.0,0.0,6.0,0,NaN,20220503
476852,202212,1156,1156번(퇴계원쌍용예가아파트~석계역),222000296,23045,퇴계원5리(00062),0.0,1.0,0.0,0.0,...,10.0,0.0,13.0,0.0,14.0,0.0,2.0,20,서울지선버스,20230103
435353,202211,1156,1156번(퇴계원쌍용예가아파트~석계역),222000296,23045,퇴계원5리(00062),0.0,1.0,0.0,0.0,...,14.0,0.0,7.0,1.0,11.0,1.0,4.0,20,서울지선버스,20221203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265087,202207,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,144.0,97.0,288.0,147.0,293.0,3.0,76.0,30,서울마을버스,20220803
427178,202211,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00023),0.0,0.0,0.0,0.0,...,232.0,1.0,195.0,1.0,120.0,1.0,23.0,30,서울마을버스,20221203
224833,202206,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,138.0,56.0,313.0,136.0,271.0,2.0,60.0,0,NaN,20220703
25954,202201,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,147.0,1.0,87.0,3.0,126.0,0.0,68.0,0,NaN,20220203
64584,202202,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,81.0,37.0,120.0,39.0,143.0,0.0,55.0,0,NaN,20220303

In [9]:
# 퇴계원이 뭐지?? 남양주시 정보도 같이 있는 거였음. 이제보니 정확하게는 231* 부터 강남구! 
# 필요없는 데이터 삭제.
df1 = df1[~df1['BSST_ARS_NO'].astype(str).str.startswith('230')]
df1

,USE_MON,BUS_ROUTE_NO,BUS_ROUTE_NM,STND_BSST_ID,BSST_ARS_NO,BUS_STA_NM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,...,TWENTY_ALIGHT_NUM,TWENTY_ONE_RIDE_NUM,TWENTY_ONE_ALIGHT_NUM,TWENTY_TWO_RIDE_NUM,TWENTY_TWO_ALIGHT_NUM,TWENTY_THREE_RIDE_NUM,TWENTY_THREE_ALIGHT_NUM,MNTN_TYP_CD,MNTN_TYP_NM,WORK_DT
0,202201,100,100번(하계동~용산구청),110000327,11428,한성여객종점,0.0,0.0,0.0,0.0,...,3.0,28.0,1.0,13.0,1.0,0.0,3.0,0,NaN,20220203
1,202201,100,100번(하계동~용산구청),110000335,11436,하계1동주민센터,0.0,0.0,0.0,0.0,...,26.0,114.0,14.0,92.0,14.0,0.0,0.0,0,NaN,20220203
2,202201,100,100번(하계동~용산구청),107000011,08101,숭곡초교입구,47.0,28.0,4.0,4.0,...,257.0,273.0,381.0,143.0,234.0,43.0,72.0,0,NaN,20220203
3,202201,100,100번(하계동~용산구청),107000012,08102,창문여고,67.0,95.0,3.0,8.0,...,465.0,425.0,660.0,265.0,406.0,91.0,139.0,0,NaN,20220203
4,202201,100,100번(하계동~용산구청),107000013,08103,동방고개,12.0,61.0,0.0,6.0,...,187.0,60.0,255.0,33.0,222.0,14.0,79.0,0,NaN,20220203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482981,202212,9714,9714번(교하운정~서울역),229001663,63737,교하차고지(00052),0.0,2.0,0.0,3.0,...,11.0,0.0,7.0,0.0,10.0,1.0,3.0,50,서울광역버스,20230103
482982,202212,9714,9714번(교하운정~서울역),229000848,63659,중앙공원(00006),18.0,2.0,7.0,1.0,...,0.0,4.0,0.0,7.0,0.0,9.0,2.0,50,서울광역버스,20230103
482983,202212,9714,9714번(교하운정~서울역),229000847,63674,책향기마을(00007),22.0,0.0,8.0,1.0,...,0.0,8.0,1.0,19.0,0.0,10.0,1.0,50,서울광역버스,20230103
482984,202212,9714,9714번(교하운정~서울역),229001300,30839,초롱꽃마을8단지(00008),69.0,3.0,23.0,0.0,...,1.0,2.0,3.0,10.0,8.0,20.0,5.0,50,서울광역버스,20230103
482985,202212,9714,9714번(교하운정~서울역),229002499,30745,초롱꽃마을13단지(00009),28.0,2.0,8.0,0.0,...,3.0,2.0,2.0,6.0,2.0,1.0,1.0,50,서울광역버스,20230103

In [10]:
# 강남구 버스 승하차 데이터만 새로운 DF로 Gangnam_BUS_Data
GBD=df1[df1['BSST_ARS_NO'].astype(str).str.startswith('23')].sort_values(by='BSST_ARS_NO').reset_index(drop=True)
GBD

,USE_MON,BUS_ROUTE_NO,BUS_ROUTE_NM,STND_BSST_ID,BSST_ARS_NO,BUS_STA_NM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,...,TWENTY_ALIGHT_NUM,TWENTY_ONE_RIDE_NUM,TWENTY_ONE_ALIGHT_NUM,TWENTY_TWO_RIDE_NUM,TWENTY_TWO_ALIGHT_NUM,TWENTY_THREE_RIDE_NUM,TWENTY_THREE_ALIGHT_NUM,MNTN_TYP_CD,MNTN_TYP_NM,WORK_DT
0,202212,4312,4312번(개포동~가락1동주민센터),122000001,23101,신사중학교(00020),0.0,0.0,0.0,0.0,...,461.0,215.0,507.0,221.0,472.0,74.0,152.0,20,서울지선버스,20230103
1,202210,345,345번(송파차고지~구반포역),122000001,23101,신사중학교(00052),127.0,66.0,0.0,0.0,...,233.0,365.0,183.0,313.0,160.0,184.0,165.0,10,서울간선버스,20221103
2,202210,472,472번(개포동~신촌),122000001,23101,신사중학교(00051),154.0,393.0,4.0,21.0,...,979.0,407.0,839.0,369.0,781.0,300.0,690.0,10,서울간선버스,20221103
3,202206,472,472번(개포동~신촌),122000001,23101,신사중학교,185.0,457.0,2.0,2.0,...,944.0,477.0,827.0,422.0,881.0,371.0,646.0,0,NaN,20220703
4,202210,143,143번(정릉~개포동),122000001,23101,신사중학교(00035),0.0,0.0,0.0,0.0,...,389.0,456.0,305.0,394.0,194.0,63.0,52.0,10,서울간선버스,20221103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114,202212,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00023),0.0,0.0,0.0,0.0,...,236.0,1.0,156.0,3.0,154.0,0.0,45.0,30,서울마을버스,20230103
26115,202210,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00001),0.0,0.0,0.0,0.0,...,58.0,36.0,121.0,43.0,241.0,9.0,134.0,30,서울마을버스,20221103
26116,202203,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,169.0,2.0,96.0,0.0,100.0,0.0,47.0,0,NaN,20220403
26117,202202,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,149.0,5.0,96.0,2.0,112.0,0.0,27.0,0,NaN,20220303
26118,202207,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,212.0,5.0,112.0,2.0,111.0,0.0,104.0,30,서울마을버스,20220803

In [11]:
# GBD = GBD.drop(columns=['WORK_DT'])
GBD

,USE_MON,BUS_ROUTE_NO,BUS_ROUTE_NM,STND_BSST_ID,BSST_ARS_NO,BUS_STA_NM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,...,TWENTY_ALIGHT_NUM,TWENTY_ONE_RIDE_NUM,TWENTY_ONE_ALIGHT_NUM,TWENTY_TWO_RIDE_NUM,TWENTY_TWO_ALIGHT_NUM,TWENTY_THREE_RIDE_NUM,TWENTY_THREE_ALIGHT_NUM,MNTN_TYP_CD,MNTN_TYP_NM,WORK_DT
0,202212,4312,4312번(개포동~가락1동주민센터),122000001,23101,신사중학교(00020),0.0,0.0,0.0,0.0,...,461.0,215.0,507.0,221.0,472.0,74.0,152.0,20,서울지선버스,20230103
1,202210,345,345번(송파차고지~구반포역),122000001,23101,신사중학교(00052),127.0,66.0,0.0,0.0,...,233.0,365.0,183.0,313.0,160.0,184.0,165.0,10,서울간선버스,20221103
2,202210,472,472번(개포동~신촌),122000001,23101,신사중학교(00051),154.0,393.0,4.0,21.0,...,979.0,407.0,839.0,369.0,781.0,300.0,690.0,10,서울간선버스,20221103
3,202206,472,472번(개포동~신촌),122000001,23101,신사중학교,185.0,457.0,2.0,2.0,...,944.0,477.0,827.0,422.0,881.0,371.0,646.0,0,NaN,20220703
4,202210,143,143번(정릉~개포동),122000001,23101,신사중학교(00035),0.0,0.0,0.0,0.0,...,389.0,456.0,305.0,394.0,194.0,63.0,52.0,10,서울간선버스,20221103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114,202212,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00023),0.0,0.0,0.0,0.0,...,236.0,1.0,156.0,3.0,154.0,0.0,45.0,30,서울마을버스,20230103
26115,202210,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00001),0.0,0.0,0.0,0.0,...,58.0,36.0,121.0,43.0,241.0,9.0,134.0,30,서울마을버스,20221103
26116,202203,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,169.0,2.0,96.0,0.0,100.0,0.0,47.0,0,NaN,20220403
26117,202202,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,149.0,5.0,96.0,2.0,112.0,0.0,27.0,0,NaN,20220303
26118,202207,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,212.0,5.0,112.0,2.0,111.0,0.0,104.0,30,서울마을버스,20220803

In [12]:
# 주어진 컬럼 이름 목록과 대응하는 새로운 컬럼 이름 딕셔너리
column_mapping = {
    'USE_MON': '기준 월',
    'BUS_ROUTE_NO': '노선 번호',
    'BUS_ROUTE_NM': '노선명',
    'STND_BSST_ID': '표준버스정류장ID',
    'BSST_ARS_NO': '버스정류장ARS번호',
    'BUS_STA_NM': '정류장 이름',
    'MIDNIGHT_RIDE_NUM': '00시승차총승객수',
    'MIDNIGHT_ALIGHT_NUM': '00시하차총승객수',
    'ONE_RIDE_NUM': '01시승차총승객수',
    'ONE_ALIGHT_NUM': '01시하차총승객수',
    'TWO_RIDE_NUM': '02시승차총승객수',
    'TWO_ALIGHT_NUM': '02시하차총승객수',
    'THREE_RIDE_NUM': '03시승차총승객수',
    'THREE_ALIGHT_NUM': '03시하차총승객수',
    'FOUR_RIDE_NUM': '04시승차총승객수',
    'FOUR_ALIGHT_NUM': '04시하차총승객수',
    'FIVE_RIDE_NUM': '05시승차총승객수',
    'FIVE_ALIGHT_NUM': '05시하차총승객수',
    'SIX_RIDE_NUM': '06시승차총승객수',
    'SIX_ALIGHT_NUM': '06시하차총승객수',
    'SEVEN_RIDE_NUM': '07시승차총승객수',
    'SEVEN_ALIGHT_NUM': '07시하차총승객수',
    'EIGHT_RIDE_NUM': '08시승차총승객수M',
    'EIGHT_ALIGHT_NUM': '08시하차총승객수',
    'NINE_RIDE_NUM': '09시승차총승객수',
    'NINE_ALIGHT_NUM': '09시하차총승객수',
    'TEN_RIDE_NUM': '10시승차총승객수',
    'TEN_ALIGHT_NUM': '10시하차총승객수',
    'ELEVEN_RIDE_NUM': '11시승차총승객수',
    'ELEVEN_ALIGHT_NUM': '11시하차총승객수',
    'TWELVE_RIDE_NUM': '12시승차총승객수',
    'TWELVE_ALIGHT_NUM': '12시하차총승객수',
    'THIRTEEN_RIDE_NUM': '13시승차총승객수',
    'THIRTEEN_ALIGHT_NUM': '13시하차총승객수',
    'FOURTEEN_RIDE_NUM': '14시승차총승객수',
    'FOURTEEN_ALIGHT_NUM': '14시하차총승객수',
    'FIFTEEN_RIDE_NUM': '15시승차총승객수',
    'FIFTEEN_ALIGHT_NUM': '15시하차총승객수',
    'SIXTEEN_RIDE_NUM': '16시승차총승객수',
    'SIXTEEN_ALIGHT_NUM': '16시하차총승객수',
    'SEVENTEEN_RIDE_NUM': '17시승차총승객수',
    'SEVENTEEN_ALIGHT_NUM': '17시하차총승객수',
    'EIGHTEEN_RIDE_NUM': '18시승차총승객수',
    'EIGHTEEN_ALIGHT_NUM': '18시하차총승객수',
    'NINETEEN_RIDE_NUM': '19시승차총승객수',
    'NINETEEN_ALIGHT_NUM': '19시하차총승객수',
    'TWENTY_RIDE_NUM': '20시승차총승객수',
    'TWENTY_ALIGHT_NUM': '20시하차총승객수',
    'TWENTY_ONE_RIDE_NUM': '21시승차총승객수',
    'TWENTY_ONE_ALIGHT_NUM': '21시하차총승객수',
    'TWENTY_TWO_RIDE_NUM': '22시승차총승객수',
    'TWENTY_TWO_ALIGHT_NUM': '22시하차총승객수',
    'TWENTY_THREE_RIDE_NUM': '23시승차총승객수',
    'TWENTY_THREE_ALIGHT_NUM': '23시하차총승객수',
    'MNTN_TYP_CD': '교통수단타입코드',
    'MNTN_TYP_NM': '교통수단타입명'
}

# 컬럼 이름 변경
GBD.rename(columns=column_mapping, inplace=True)
GBD

,기준 월,노선 번호,노선명,표준버스정류장ID,버스정류장ARS번호,정류장 이름,00시승차총승객수,00시하차총승객수,01시승차총승객수,01시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,WORK_DT
0,202212,4312,4312번(개포동~가락1동주민센터),122000001,23101,신사중학교(00020),0.0,0.0,0.0,0.0,...,461.0,215.0,507.0,221.0,472.0,74.0,152.0,20,서울지선버스,20230103
1,202210,345,345번(송파차고지~구반포역),122000001,23101,신사중학교(00052),127.0,66.0,0.0,0.0,...,233.0,365.0,183.0,313.0,160.0,184.0,165.0,10,서울간선버스,20221103
2,202210,472,472번(개포동~신촌),122000001,23101,신사중학교(00051),154.0,393.0,4.0,21.0,...,979.0,407.0,839.0,369.0,781.0,300.0,690.0,10,서울간선버스,20221103
3,202206,472,472번(개포동~신촌),122000001,23101,신사중학교,185.0,457.0,2.0,2.0,...,944.0,477.0,827.0,422.0,881.0,371.0,646.0,0,NaN,20220703
4,202210,143,143번(정릉~개포동),122000001,23101,신사중학교(00035),0.0,0.0,0.0,0.0,...,389.0,456.0,305.0,394.0,194.0,63.0,52.0,10,서울간선버스,20221103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114,202212,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00023),0.0,0.0,0.0,0.0,...,236.0,1.0,156.0,3.0,154.0,0.0,45.0,30,서울마을버스,20230103
26115,202210,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00001),0.0,0.0,0.0,0.0,...,58.0,36.0,121.0,43.0,241.0,9.0,134.0,30,서울마을버스,20221103
26116,202203,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,169.0,2.0,96.0,0.0,100.0,0.0,47.0,0,NaN,20220403
26117,202202,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,149.0,5.0,96.0,2.0,112.0,0.0,27.0,0,NaN,20220303
26118,202207,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,212.0,5.0,112.0,2.0,111.0,0.0,104.0,30,서울마을버스,20220803

In [13]:
GBD.rename(columns={'버스정류장ARS번호': 'ARS-ID'}, inplace=True)
GBD

,기준 월,노선 번호,노선명,표준버스정류장ID,ARS-ID,정류장 이름,00시승차총승객수,00시하차총승객수,01시승차총승객수,01시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,WORK_DT
0,202212,4312,4312번(개포동~가락1동주민센터),122000001,23101,신사중학교(00020),0.0,0.0,0.0,0.0,...,461.0,215.0,507.0,221.0,472.0,74.0,152.0,20,서울지선버스,20230103
1,202210,345,345번(송파차고지~구반포역),122000001,23101,신사중학교(00052),127.0,66.0,0.0,0.0,...,233.0,365.0,183.0,313.0,160.0,184.0,165.0,10,서울간선버스,20221103
2,202210,472,472번(개포동~신촌),122000001,23101,신사중학교(00051),154.0,393.0,4.0,21.0,...,979.0,407.0,839.0,369.0,781.0,300.0,690.0,10,서울간선버스,20221103
3,202206,472,472번(개포동~신촌),122000001,23101,신사중학교,185.0,457.0,2.0,2.0,...,944.0,477.0,827.0,422.0,881.0,371.0,646.0,0,NaN,20220703
4,202210,143,143번(정릉~개포동),122000001,23101,신사중학교(00035),0.0,0.0,0.0,0.0,...,389.0,456.0,305.0,394.0,194.0,63.0,52.0,10,서울간선버스,20221103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114,202212,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00023),0.0,0.0,0.0,0.0,...,236.0,1.0,156.0,3.0,154.0,0.0,45.0,30,서울마을버스,20230103
26115,202210,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00001),0.0,0.0,0.0,0.0,...,58.0,36.0,121.0,43.0,241.0,9.0,134.0,30,서울마을버스,20221103
26116,202203,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,169.0,2.0,96.0,0.0,100.0,0.0,47.0,0,NaN,20220403
26117,202202,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,149.0,5.0,96.0,2.0,112.0,0.0,27.0,0,NaN,20220303
26118,202207,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,212.0,5.0,112.0,2.0,111.0,0.0,104.0,30,서울마을버스,20220803

In [14]:
temp_df = GBD.merge(GBI, on='ARS-ID', how='left')
temp_df

ValueError: You are trying to merge on object and int64 columns for key 'ARS-ID'. If you wish to proceed you should use pd.concat

In [15]:
print(GBD['ARS-ID'].dtype)
print(GBI['ARS-ID'].dtype)

object
int64

In [16]:
GBD['ARS-ID'] = GBD['ARS-ID'].astype(int)
print(GBD['ARS-ID'].dtype)
print(GBI['ARS-ID'].dtype)

int32
int64

In [17]:
temp_df = GBD.merge(GBI, on='ARS-ID', how='left')
temp_df

,기준 월,노선 번호,노선명,표준버스정류장ID,ARS-ID,정류장 이름,00시승차총승객수,00시하차총승객수,01시승차총승객수,01시하차총승객수,...,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,WORK_DT,NODE_ID,정류소명,X좌표,Y좌표
0,202212,4312,4312번(개포동~가락1동주민센터),122000001,23101,신사중학교(00020),0.0,0.0,0.0,0.0,...,472.0,74.0,152.0,20,서울지선버스,20230103,122000001.0,신사중학교,127.020499,37.522928
1,202210,345,345번(송파차고지~구반포역),122000001,23101,신사중학교(00052),127.0,66.0,0.0,0.0,...,160.0,184.0,165.0,10,서울간선버스,20221103,122000001.0,신사중학교,127.020499,37.522928
2,202210,472,472번(개포동~신촌),122000001,23101,신사중학교(00051),154.0,393.0,4.0,21.0,...,781.0,300.0,690.0,10,서울간선버스,20221103,122000001.0,신사중학교,127.020499,37.522928
3,202206,472,472번(개포동~신촌),122000001,23101,신사중학교,185.0,457.0,2.0,2.0,...,881.0,371.0,646.0,0,NaN,20220703,122000001.0,신사중학교,127.020499,37.522928
4,202210,143,143번(정릉~개포동),122000001,23101,신사중학교(00035),0.0,0.0,0.0,0.0,...,194.0,63.0,52.0,10,서울간선버스,20221103,122000001.0,신사중학교,127.020499,37.522928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114,202212,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00023),0.0,0.0,0.0,0.0,...,154.0,0.0,45.0,30,서울마을버스,20230103,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272
26115,202210,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00001),0.0,0.0,0.0,0.0,...,241.0,9.0,134.0,30,서울마을버스,20221103,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272
26116,202203,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,100.0,0.0,47.0,0,NaN,20220403,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272
26117,202202,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,112.0,0.0,27.0,0,NaN,20220303,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272
26118,202207,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크,0.0,0.0,0.0,0.0,...,111.0,0.0,104.0,30,서울마을버스,20220803,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272

In [18]:
temp_df.sort_values(by=['ARS-ID', '기준 월'], inplace=True)
temp_df.reset_index(drop=True, inplace=True)
temp_df

,기준 월,노선 번호,노선명,표준버스정류장ID,ARS-ID,정류장 이름,00시승차총승객수,00시하차총승객수,01시승차총승객수,01시하차총승객수,...,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,WORK_DT,NODE_ID,정류소명,X좌표,Y좌표
0,202201,362,362번(송파공영차고지~여의도),122000001,23101,신사중학교,35.0,47.0,6.0,12.0,...,125.0,64.0,87.0,0,NaN,20220203,122000001.0,신사중학교,127.020499,37.522928
1,202201,240,240번(중랑공영차고지~신사역사거리),122000001,23101,신사중학교,9.0,5.0,0.0,0.0,...,38.0,59.0,24.0,0,NaN,20220203,122000001.0,신사중학교,127.020499,37.522928
2,202201,4318,4318번(사당동출발.사당동~풍납동),122000001,23101,신사중학교,0.0,0.0,0.0,0.0,...,202.0,4.0,1.0,0,NaN,20220203,122000001.0,신사중학교,127.020499,37.522928
3,202201,472,472번(개포동~신촌),122000001,23101,신사중학교,30.0,133.0,0.0,0.0,...,457.0,59.0,180.0,0,NaN,20220203,122000001.0,신사중학교,127.020499,37.522928
4,202201,4318,4318번(풍납동출발.풍납동~사당동),122000001,23101,신사중학교,0.0,0.0,0.0,0.0,...,0.0,34.0,37.0,0,NaN,20220203,122000001.0,신사중학교,127.020499,37.522928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114,202211,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00001),0.0,0.0,0.0,0.0,...,281.0,13.0,133.0,30,서울마을버스,20221203,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272
26115,202212,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00001),0.0,0.0,0.0,0.0,...,273.0,6.0,100.0,30,서울마을버스,20230103,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272
26116,202212,강남06-2,강남06-2(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00023),0.0,0.0,0.0,0.0,...,136.0,0.0,83.0,30,서울마을버스,20230103,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272
26117,202212,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00001),0.0,0.0,0.0,0.0,...,220.0,9.0,147.0,30,서울마을버스,20230103,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272
26118,202212,강남06-1,강남06-1(세곡리엔파크~수서역),122900074,23995,리엔파크4단지.강남데시앙파크(00023),0.0,0.0,0.0,0.0,...,154.0,0.0,45.0,30,서울마을버스,20230103,122900074.0,리엔파크4단지.강남데시앙파크,127.101976,37.461272

In [19]:
# CSV 파일로 저장
# temp_df.to_csv('temp_data_bus.csv', index=False)

In [20]:
temp_df[(temp_df['X좌표'] == 0) | temp_df['X좌표'].isnull()]

,기준 월,노선 번호,노선명,표준버스정류장ID,ARS-ID,정류장 이름,00시승차총승객수,00시하차총승객수,01시승차총승객수,01시하차총승객수,...,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,WORK_DT,NODE_ID,정류소명,X좌표,Y좌표
15437,202201,143,143번(정릉~개포동),122000233,23337,개포주공1단지,0.0,0.0,0.0,0.0,...,75.0,0.0,34.0,0,NaN,20220203,NaN,NaN,NaN,NaN
15438,202202,143,143번(정릉~개포동),122000233,23337,개포주공1단지,0.0,0.0,0.0,0.0,...,103.0,0.0,26.0,0,NaN,20220303,NaN,NaN,NaN,NaN
15439,202203,143,143번(정릉~개포동),122000233,23337,개포주공1단지,0.0,0.0,0.0,0.0,...,142.0,0.0,64.0,0,NaN,20220403,NaN,NaN,NaN,NaN
15440,202204,143,143번(정릉~개포동),122000233,23337,개포주공1단지,0.0,0.0,0.0,0.0,...,151.0,2.0,60.0,0,NaN,20220503,NaN,NaN,NaN,NaN
15441,202205,143,143번(정릉~개포동),122000233,23337,개포주공1단지,0.0,0.0,0.0,0.0,...,175.0,0.0,65.0,0,NaN,20220613,NaN,NaN,NaN,NaN
15442,202206,143,143번(정릉~개포동),122000233,23337,개포주공1단지,0.0,1.0,0.0,0.0,...,146.0,1.0,51.0,0,NaN,20220703,NaN,NaN,NaN,NaN
15443,202207,143,143번(정릉~개포동),122000233,23337,개포주공1단지,0.0,0.0,0.0,0.0,...,109.0,0.0,50.0,10,서울간선버스,20220803,NaN,NaN,NaN,NaN
15444,202208,143,143번(정릉~개포동),122000233,23337,개포주공1단지(00056),0.0,0.0,0.0,0.0,...,110.0,0.0,40.0,10,서울간선버스,20220903,NaN,NaN,NaN,NaN
15445,202209,143,143번(정릉~개포동),122000233,23337,개포주공1단지(00056),0.0,0.0,0.0,0.0,...,122.0,0.0,37.0,10,서울간선버스,20221003,NaN,NaN,NaN,NaN
15446,202210,143,143번(정릉~개포동),122000233,23337,개포주공1단지(00056),0.0,0.0,0.0,0.0,...,55.0,0.0,18.0,10,서울간선버스,20221103,NaN,NaN,NaN,NaN
24954,202201,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점,0.0,3.0,0.0,0.0,...,136.0,0.0,41.0,0,NaN,20220203,NaN,NaN,NaN,NaN
24955,202202,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점,0.0,8.0,0.0,0.0,...,101.0,0.0,57.0,0,NaN,20220303,NaN,NaN,NaN,NaN
24956,202203,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점,0.0,22.0,0.0,0.0,...,125.0,0.0,81.0,0,NaN,20220403,NaN,NaN,NaN,NaN
24957,202204,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점,0.0,27.0,0.0,0.0,...,122.0,0.0,89.0,0,NaN,20220503,NaN,NaN,NaN,NaN
24958,202205,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점,0.0,26.0,0.0,0.0,...,167.0,0.0,83.0,0,NaN,20220613,NaN,NaN,NaN,NaN
24959,202206,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점,0.0,31.0,0.0,0.0,...,134.0,0.0,108.0,0,NaN,20220703,NaN,NaN,NaN,NaN
24960,202207,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점,0.0,33.0,0.0,0.0,...,159.0,1.0,126.0,20,서울지선버스,20220803,NaN,NaN,NaN,NaN
24961,202208,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점(00073),0.0,31.0,0.0,0.0,...,161.0,0.0,138.0,20,서울지선버스,20220903,NaN,NaN,NaN,NaN
24962,202209,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점(00073),0.0,27.0,0.0,0.0,...,150.0,1.0,102.0,20,서울지선버스,20221003,NaN,NaN,NaN,NaN
24963,202210,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점(00073),0.0,20.0,0.0,0.0,...,125.0,0.0,95.0,20,서울지선버스,20221103,NaN,NaN,NaN,NaN
24964,202211,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점(00073),0.0,14.0,0.0,0.0,...,143.0,2.0,83.0,20,서울지선버스,20221203,NaN,NaN,NaN,NaN
24965,202212,1156,1156번(퇴계원쌍용예가아파트~석계역),222000628,23771,1156번종점(00073),0.0,23.0,0.0,0.0,...,164.0,2.0,96.0,20,서울지선버스,20230103,NaN,NaN,NaN,NaN
24966,202201,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점,0.0,0.0,0.0,0.0,...,1.0,3.0,2.0,0,NaN,20220203,NaN,NaN,NaN,NaN
24967,202202,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0,NaN,20220303,NaN,NaN,NaN,NaN
24968,202203,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점,0.0,0.0,0.0,0.0,...,1.0,7.0,0.0,0,NaN,20220403,NaN,NaN,NaN,NaN
24969,202204,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0,NaN,20220503,NaN,NaN,NaN,NaN
24970,202205,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점,1.0,1.0,0.0,0.0,...,10.0,8.0,12.0,0,NaN,20220613,NaN,NaN,NaN,NaN
24971,202206,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점,0.0,0.0,0.0,0.0,...,0.0,6.0,0.0,0,NaN,20220703,NaN,NaN,NaN,NaN
24972,202207,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점,0.0,0.0,0.0,0.0,...,7.0,20.0,14.0,20,서울지선버스,20220803,NaN,NaN,NaN,NaN
24973,202208,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점(00001),0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,20,서울지선버스,20220903,NaN,NaN,NaN,NaN
24974,202209,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점(00001),0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,20,서울지선버스,20221003,NaN,NaN,NaN,NaN
24975,202210,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점(00001),0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,20,서울지선버스,20221103,NaN,NaN,NaN,NaN
24976,202211,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점(00001),0.0,1.0,0.0,0.0,...,1.0,2.0,0.0,20,서울지선버스,20221203,NaN,NaN,NaN,NaN
24977,202212,1156,1156번(퇴계원쌍용예가아파트~석계역),222000635,23783,1156번종점(00001),0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,20,서울지선버스,20230103,NaN,NaN,NaN,NaN